 /* .app {
  height: 100vh;
  width: 100vw;
  transition: background-color 1s ease-in;
}

.app__header,
.app__main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}  */

/*  Search bar */

/* Current weather */
/* 
div {
  border: 5px solid red;
} */
body{
  margin:0;
  font-family: "Raleway", sans-serif;

}
.nav{
  background-color: rgba(117, 158, 218, 255);
   padding: 15px;
  
}
.nav2{
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
}
button{
  margin:0px 40px;
  background-color: #5879c7;
  border: 1px;
  padding: 10px;
}
input{
  background-color: rgba(117, 158, 218, 255);
  border: none;
  color: white;
  outline:none;
  
}
.part2{
  background-color: rgba(156, 206, 244, 255);
text-align: center;
}
.part2 h3{
  color: white;
}
.part3{
  display: flex;
  background-color: rgba(156, 206, 244, 255);
  padding: 29px;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.part3 p{
  margin-top: 0;
}
.part2 h4{
  margin: 0;
  padding: 24px;
}
h2{
  color: #030348;
}
h4{
  color:#030348;
}
button{
  color: rgba(3,3,72,255);
}
@media only screen and (max-width: 700px) {
  .part3{flex-wrap: wrap;
    
  }
}